#!/bin/sh

rescue_mount()
{
	MY_MOUNT_POINT=/mnt/rescue

	mkdir -p ${MY_MOUNT_POINT}
	mount /dev/${1} ${MY_MOUNT_POINT}
	for dir in /dev /dev/pts /proc /sys /run; do sudo mount --bind $dir ${MY_MOUNT_POINT}/$dir; done 
	sudo cp /proc/mounts ${MY_MOUNT_POINT}/etc/mtab
	mount -o bind /etc/resolv.conf ${MY_MOUNT_POINT}/etc/resolv.conf 
	chroot ${MY_MOUNT_POINT} /bin/bash
}

#
# Renames a set of files with same file extension to another
# file extension: _rename JPG jpg
#
_rename()
{
	for file in *.${1}
	    do
	        mv -v $file ${file%.*}.${2}
		# Another way: mv $file `echo $file | sed 's/\(.*\.\)html/\1php/'`
		# And another: mv $file `basename $file htm` html"
	    done
}

